<a href="https://colab.research.google.com/github/ShivaniReddy20/email-spam-detection/blob/main/EmailSpamDetection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from nltk.corpus import stopwords

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
stop_words=stopwords.words('english')
print(stop_words)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

# Load the Dataset

In [ ]:
df=pd.read_csv('spam11.csv')

In [ ]:
stop_words=stopwords.words('english')

In [ ]:
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will ÃŒ_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

# Replacing null values

In [ ]:
data=df.where((pd.notnull(df)),'')

In [ ]:
data

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",,,
1,ham,Ok lar... Joking wif u oni...,,,
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,,,
3,ham,U dun say so early hor... U c already then say...,,,
4,ham,"Nah I don't think he goes to usf, he lives aro...",,,
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,,,
5568,ham,Will ÃŒ_ b going to esplanade fr home?,,,
5569,ham,"Pity, * was in mood for that. So...any other s...",,,
5570,ham,The guy did some bitching but I acted like i'd...,,,
5571,ham,Rofl. Its true to its name,,,

In [ ]:
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",,,
1,ham,Ok lar... Joking wif u oni...,,,
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,,,
3,ham,U dun say so early hor... U c already then say...,,,
4,ham,"Nah I don't think he goes to usf, he lives aro...",,,

In [ ]:
data.tail()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
5567,spam,This is the 2nd time we have tried 2 contact u...,,,
5568,ham,Will ÃŒ_ b going to esplanade fr home?,,,
5569,ham,"Pity, * was in mood for that. So...any other s...",,,
5570,ham,The guy did some bitching but I acted like i'd...,,,
5571,ham,Rofl. Its true to its name,,,

In [ ]:
data.describe()

          v1                      v2 Unnamed: 2 Unnamed: 3 Unnamed: 4
count   5572                    5572       5572       5572       5572
unique     2                    5169         44         11          6
top      ham  Sorry, I'll call later
freq    4825                      30       5522       5560       5566

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  5572 non-null   object
 3   Unnamed: 3  5572 non-null   object
 4   Unnamed: 4  5572 non-null   object
dtypes: object(5)
memory usage: 217.8+ KB

# Labelling SPAM as 0 and HAM as 1

In [ ]:
data.loc[data['v1']=='spam','v1',]=0
data.loc[data['v1']=='ham','v1',]=1

# SEPARATING THE DATA AS TEXT(INPUT) AND LABELS(OUTPUT)

In [ ]:
x=data['v2']
y=data['v1']

# Splitting the data into training and testing data

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [ ]:
print(x_train)

5135                          Sorry * was at the grocers.
5439         Hey i've booked the 2 lessons on sun liao...
5156    Sir, I need Velusamy sir's date of birth and c...
5142    Now that you have started dont stop. Just pray...
1098    NO GIFTS!! You trying to get me to throw mysel...
                              ...
547                      Sorry that took so long, omw now
5001           You still around? Looking to pick up later
717     Book which lesson? then you msg me... I will c...
5440        Thank you. do you generally date the brothas?
1399    You have registered Sinco as Payee. Log in at ...
Name: v2, Length: 4457, dtype: object

In [ ]:
print(y_train)

5135    1
5439    1
5156    1
5142    1
1098    1
       ..
547     1
5001    1
717     1
5440    1
1399    1
Name: v1, Length: 4457, dtype: object

In [ ]:
print(x_test)

285     K, I might come by tonight then if my class le...
3748    Dear Voucher Holder 2 claim your 1st class air...
3951    Me hungry buy some food good lei... But mum n ...
1263    Ok. No wahala. Just remember that a friend in ...
255     Don't necessarily expect it to be done before ...
                              ...
1510    Pete,is this your phone still? Its Jenny from ...
2665                       R u meeting da ge at nite tmr?
2445    The guy (kadeem) hasn't been selling since the...
5345                                    Wat ÃŒ_ doing now?
4359    Night sweet, sleep well! I've just been to see...
Name: v2, Length: 1115, dtype: object

In [ ]:
print(y_test)

285     1
3748    0
3951    1
1263    1
255     1
       ..
1510    1
2665    1
2445    1
5345    1
4359    1
Name: v1, Length: 1115, dtype: object

In [ ]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(4457,)
(4457,)
(1115,)
(1115,)

# Feature Extraction

In [ ]:
feature_extraction=TfidfVectorizer(min_df=1,stop_words='english',lowercase=True)

In [ ]:
x_train_features=feature_extraction.fit_transform(x_train)

In [ ]:
print(x_train_features)

  (0, 3185)	0.8829076896350692
  (0, 6143)	0.4695466021421777
  (1, 3989)	0.3933583224135653
  (1, 6410)	0.43212001265556926
  (1, 3981)	0.4772978085066773
  (1, 1396)	0.46962097148151727
  (1, 7043)	0.32804027632871124
  (1, 3341)	0.32027183312960605
  (2, 2250)	0.26506887352671854
  (2, 2702)	0.37088971221295647
  (2, 1205)	0.29458684998113077
  (2, 1898)	0.2880222757244818
  (2, 1331)	0.3413717357585442
  (2, 2152)	0.275017464345491
  (2, 7049)	0.37088971221295647
  (2, 4602)	0.19247142891654587
  (2, 6015)	0.5056356127906151
  (3, 4027)	0.3468886957507903
  (3, 2911)	0.35898797959286244
  (3, 4056)	0.19734953950431006
  (3, 3216)	0.2843360053871668
  (3, 3327)	0.2704858373937117
  (3, 3511)	0.3859301265561372
  (3, 3119)	0.20056858967336716
  (3, 5211)	0.35255924316000864
  :	:
  (4454, 4326)	0.3794381218954983
  (4454, 3980)	0.3109494512022002
  (4454, 1395)	0.30824390664234436
  (4454, 4497)	0.2305104634504021
  (4454, 3108)	0.210477349204446
  (4454, 7342)	0.23883609748763607
  (4455, 1491)	0.5552067596629071
  (4455, 3044)	0.5552067596629071
  (4455, 6607)	0.4282804670262724
  (4455, 2152)	0.44728821761028714
  (4456, 2322)	0.26553813101712437
  (4456, 2926)	0.26553813101712437
  (4456, 6993)	0.5310762620342487
  (4456, 3503)	0.26553813101712437
  (4456, 4969)	0.26553813101712437
  (4456, 6004)	0.26553813101712437
  (4456, 1305)	0.25317590397471107
  (4456, 5906)	0.2273426366646584
  (4456, 2575)	0.21646797310141438
  (4456, 5506)	0.2273426366646584
  (4456, 1878)	0.16562125425028124
  (4456, 1933)	0.2109091705441994
  (4456, 3196)	0.1271802095502422
  (4456, 4146)	0.12701760114689328
  (4456, 4074)	0.21646797310141438

In [ ]:
x_test_features=feature_extraction.transform(x_test)

In [ ]:
print(x_test_features)

  (0, 6754)	0.43329305662278333
  (0, 3983)	0.5113099501738256
  (0, 2480)	0.47689130446383565
  (0, 1883)	0.33042713646540217
  (0, 1804)	0.4628302638654705
  (1, 7106)	0.44558066676738456
  (1, 7006)	0.24296083831078596
  (1, 5385)	0.25392430365262064
  (1, 4119)	0.2705688240984019
  (1, 3388)	0.18699362732593267
  (1, 3386)	0.24798361716670972
  (1, 2169)	0.15938564153831675
  (1, 1804)	0.3910847813263377
  (1, 1796)	0.1616081095573793
  (1, 1398)	0.2705688240984019
  (1, 881)	0.26119511629277714
  (1, 342)	0.40296615429815963
  (2, 7469)	0.33834617177920984
  (2, 7148)	0.23525957536240033
  (2, 4522)	0.2825574943862688
  (2, 4047)	0.2627195787498586
  (2, 3971)	0.27257999560789137
  (2, 3795)	0.27257999560789137
  (2, 3471)	0.29967136778564263
  (2, 3119)	0.17583912171020374
  :	:
  (1111, 3037)	0.5160682612701569
  (1111, 2121)	0.33917621416755894
  (1112, 6754)	0.1921199732546791
  (1112, 6689)	0.22671227348507075
  (1112, 5839)	0.5679098043482332
  (1112, 4009)	0.14338110347834132
  (1112, 3926)	0.1891445670035213
  (1112, 3868)	0.1408602867330899
  (1112, 3799)	0.29782002486301723
  (1112, 3278)	0.27411744107036834
  (1112, 3215)	0.44167150164634217
  (1112, 2971)	0.2143025023509863
  (1112, 2363)	0.23127845958724175
  (1112, 1457)	0.233812626166781
  (1113, 7490)	0.5915092555063116
  (1113, 7170)	0.5585262736161621
  (1113, 2373)	0.5815197351172297
  (1114, 7043)	0.24082194296095677
  (1114, 6462)	0.29045249666065825
  (1114, 6097)	0.41672747107954605
  (1114, 6041)	0.5376513593074672
  (1114, 5665)	0.3641605044240448
  (1114, 4650)	0.23731926878003443
  (1114, 3790)	0.1797672834126391
  (1114, 3462)	0.41672747107954605

# Converting y_train,y_test values as Integers

In [ ]:
y_train_features=y_train.astype('int')

In [ ]:
y_test_features=y_test.astype('int')

In [ ]:
y_train_features

5135    1
5439    1
5156    1
5142    1
1098    1
       ..
547     1
5001    1
717     1
5440    1
1399    1
Name: v1, Length: 4457, dtype: int64

In [ ]:
y_test_features

285     1
3748    0
3951    1
1263    1
255     1
       ..
1510    1
2665    1
2445    1
5345    1
4359    1
Name: v1, Length: 1115, dtype: int64

# Training the model

In [ ]:
model=LogisticRegression()
model.fit(x_train_features,y_train_features)

LogisticRegression()

In [ ]:
pred1=model.predict(x_train_features)
print(accuracy_score(y_train_features,pred1)*100)

96.85887368184878

In [ ]:
pred2=model.predict(x_test_features)
print(accuracy_score(y_test_features,pred2)*100)

95.69506726457399

In [ ]:
input1=["Hurry Up! Only few left grab your choice"]

In [ ]:
input_features=feature_extraction.transform(input1)
prediction=model.predict(input_features)

In [ ]:
print(prediction)

[1]

In [ ]:
if(prediction==1):
    print("HAM MAIL")
else:
    print("SPAM MAIL")

HAM MAIL